* {
    /* `otf-font-awesome` is required to be installed for icons */
    	font-family: FontAwesome, Ubuntu;
	color: white;
	background: transparent;
	outline: none;
        border: none;
	box-shadow: none;
        font-size: 14px;
	border-radius: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

window#waybar.empty #window {
  background-color: transparent;
  border-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
}

tooltip.background {
    background: rgba(43, 48, 59, 0.92);
    border: none;
    box-shadow: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: transparent;
    box-shadow: inset 0 -3px transparent;
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: transparent
}

#workspaces button.focused {
    box-shadow: inset 0 -3px white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-radius: 6px;
}

#window,
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    background-color: rgba(43, 48, 59, 0.92);
    padding: 5px 10px;
    color: white;
    margin-top: 6px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
